<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Blancco" connectionString="data source=dc-sqlprod1\verserprod,50040;initial catalog=Blancco;persist security info=True;user id=sa;password=Xvrr6s%f;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <add name="JMSEntities" connectionString="metadata=res://*/JMS.csdl|res://*/JMS.ssdl|res://*/JMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DC-SQLDEV1\VERSERDEV;initial catalog=JMS;persist security info=True;user id=sa;password=Xvrr6s%f;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="FeedFilePath" value="C:\FEED\20180521 OLM Data Extract NEW ONLY.xlsm" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>